.main{
    height: 300px;
    width: 400px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    background: #008000;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
    border-radius: 12px ;
}
.welcome{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    font-size: 33px;
    color: white;
    font-family: 'Titillium Web', sans-serif;
    font-weight: bold;
}
.lable{
    display: flex;
    justify-content: center;
    color: white;
    font-weight: bold;
    font-size: 16px;
    margin-top: 15px;
    font-family: 'Titillium Web', sans-serif;
}
.lable-text{
    display: flex;
    justify-content: center;
    color: white;
    font-weight: bold;
    font-size: 16px;
    font-family: 'Titillium Web', sans-serif;
}
.summa{
    display: flex;
    justify-content: center;
    margin-top: 15px;
}
.summa input{
    height: 35px;
    width: 150px;
}
.text{
    font-size: 20px;
}
.btn{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    height: 40px;
}
.btn-btn{

    width: 100px;
    font-family: 'Titillium Web', sans-serif;
    font-size: 23px;
    font-weight: bold;

}


